.transparency {
    padding: 4rem 0;
    background-color: #11240e;
}

.content {
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

.title {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
}

.description {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.link {
    color: #4CAF50;
    text-decoration: none;
}

.link:hover {
    color: #388E3C;
    text-decoration: underline;
}